In [31]:
import pandas as pd
from tqdm import tqdm

tag_data = pd.read_csv("../../csv_files_us_new/tags_with_id.csv")

tag_data["tags"] = tag_data["tags"].apply(lambda x: x.replace("'", ""))
tag_data["tags"] = tag_data["tags"].apply(lambda x: x.replace("]", ""))
tag_data["tags"] = tag_data["tags"].apply(lambda x: x.replace("[", ""))
tag_data.head()

      video_id                                               tags
0  cAtazIk1IYw  how to make a curried egg sandwich, curried eg...
1  NYFHnIiA8gE  cake rescue, caek fail, viral cake fails, funn...
2  dO6YihaqtaQ  president, trump, donald, executive, orders, s...
3  sSjtGqRXQ9Y  warner bros, warner brothers, wb, fred hampton...
4  kcynVTnaHw0  Lyon, Juventus, Juventus vs. Lyon, lyon vs juv...

In [32]:
top_tags = pd.read_csv("../../csv_files_us_new/top_tags.csv")
top_set = set(top_tags["tags"])

In [33]:
row_list = []
counter = 0
# Iterate through each row in the original DataFrame
for index, row in tqdm(tag_data.iterrows()):
    video_id = row['video_id']
    hashtags = row['tags'].split(",")
    
    
    
    for tag in hashtags:
        if counter%2 != 0:
            
        
            # Append a new row to the result DataFrame
            new_row = {
                'tag_occurrence_id': counter,
                'tag': tag,
                'video_id': video_id
            }
            row_list.append(new_row)
        counter = counter + 1
result_df = pd.DataFrame(row_list)

37317it [00:04, 8617.68it/s]

In [34]:

result_df.head()

   tag_occurrence_id                           tag     video_id
0                  1                   curried egg  cAtazIk1IYw
1                  3                    egg recipe  cAtazIk1IYw
2                  5   curried egg sandwich recipe  cAtazIk1IYw
3                  7                  curry recipe  cAtazIk1IYw
4                  9                          food  cAtazIk1IYw

In [35]:
len(result_df)

result_df["country"] = "US"

In [36]:
result_df.to_csv("../../csv_files_us_new/tag_occ.csv", index=False)